.about {
    text-align: center;
    padding: 4rem 0;
    h2 {
        font-size: 4rem;
    }
    p {
        padding: 1rem 0;
        font-size: 2rem;
        width: 70%;
        margin: 0 auto;
    }
}